/**
couleure utilisée
rouge -> #dc143c;
blanc -> #fff;
vert -> #0b5d1e;
bleu -> #132a48;
**/


/** grand écran d'ordinareur**/
@media screen and (min-width: 1360px) and (any-hover:hover){
    
    #acceuil{
        width: 1.5rem;
        transform: translateY(0.39rem);
        margin-right: 0.3rem;
        transition: all 0.3s ease-in-out;
        opacity: 1;
    }
    header ul li:hover #acceuil {
        opacity: 0.6;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(../image/pattern.png);
        width: 100%;
        overflow-x: hidden;
    }

    #menu {
        display: none;
    }

    footer {
        margin-top: 3rem;
        width: 100%;
        background-color: #0d3c21;
        padding: 1rem;
        color: #FFFFFF;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
        font-family: "Roboto", serif;
        font-weight: 400;
        height: auto;
        font-style: normal;

    }

    header {
        background-color: #0d3c21;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    }

    header ul li a {
        margin-right: 1rem;
        font-family: "Mystery Quest", serif;
        font-weight: 400;
        font-style: normal;
        background-color: #E8ECD7;
        color: #1F4529;
        box-shadow: 0 4px 0 0 #c2ca9f;
        font-size: 20px;
        border-radius: 10px;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-image: url(../image/brushed-alum-darkAfter.png);
        background-repeat: repeat;
        background-size: auto;
        transition: all 0.2s ease-in-out;
    }

    .fleche {
        width: 1rem;
        opacity: 0;
        margin-right: -1rem;
        transform: translateX(-1rem);
        transition: all 0.3s ease-in-out;
    }

    header ul li a:hover {
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 4px 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }
    
    header ul li a:active{
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 0 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }

    header ul li:hover .fleche {
        opacity: 1;
        margin-right: 0;
        transform: translateX(0.2rem);
    }

    header ul {
        list-style: none;
    }

    header ul li {
        display: inline;
        padding-left: 0;
    }

    header h1 {
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 2rem;
        color: #fff;
        position: relative;
        background-color: #7a0012;
        width: 20vw;
        margin: auto;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        clip-path: polygon(59% 14%, 100% 10%, 91% 47%, 100% 100%, 54% 90%, 0 100%, 3% 50%, 2% 2%);
        background-image: url("../image/45-degree-fabric-light.png");
        background-repeat: repeat;
        background-size: auto;
    }

    div {
        position: relative;
        background-color: #1F4529;
        padding: 2rem;
        margin-top: 2rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        


        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    

        /**background-image: url(../image/leather.png);
        background-repeat: repeat;
        background-size: auto;**/
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    h2 {
        
        margin: auto;
        color: #FFFFFF;
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        width: 22%;
        padding: 1rem;
        border-radius: 5px;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

        border-radius: 10px;
        text-align: center;
        box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.032),
  0px 12.5px 10px rgba(0, 0, 0, 0.04),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.048),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.058),
  0px 100px 80px rgba(0, 0, 0, 0.08)
;
    }

    .feuillePapier {
        z-index: 1;
        font-family: "Handlee", serif;
        font-weight: 500;
        font-style: normal;
        background-color: #fff1f0;
        padding: 1rem;
        background-image: url("../image/papierB.png");
        background-repeat: repeat;
        background-size: auto;
        font-size: 18px;
        line-height: 2.2rem;
        word-spacing: 0.2rem;
        padding: 6rem;
        margin-left: 6.2rem;
        margin-right: 6.2rem;
        margin-top: 2rem;
        box-shadow: -2px 7px 400px -5px rgb(0, 0, 0, 0.75);
    }

    .feuillePapier::first-letter{
        font-size: 60px;
    }
    span.personnalités {
        color: #000000;
        font-weight: 800;
    }

    footer p a {
        margin-right: 2rem;
    }
}

/** écran tactile de taille moyenne**/
@media screen and (max-width: 1024px) and (any-hover: none) {
    .feuillePapier::first-letter{
        font-size: 40px;
    }
    body {
        margin: 0;
        padding: 0;
        background-image: url(../image/patternOrignel.png);
        position: relative;
        height: 100%;
    }

    #acceuil{
        width: 3rem;
        transform: translateY(0.39rem);
        margin-right: 0.3rem;
        transition: all 0.3s ease-in-out;
        opacity: 0.6;
    }

    footer {
        margin-top: 5rem;
        width: 100%;
        background-color: #0d3c21;
        padding: 1rem;
        color: #FFFFFF;
        bottom: 0;
        font-family: "Roboto", serif;
        font-weight: 400;
        height: auto;
        font-style: normal;
        margin-bottom: 0;
        background-image: url("../image/45-degree-fabric-light.png");
        background-repeat: repeat;
        background-size: auto;

    }

    header {
        /**background-color: #0d3c21;**/
        background-color: #7a0012;
        display: block;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
        background-image: url("../image/45-degree-fabric-light.png");
        background-repeat: repeat;
        background-size: auto;
    }

    header ul li a {
        margin-right: 1rem;
        font-family: "Mystery Quest", serif;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        font-size: 40px;
        
        transition: all 0.2s ease-in-out;
        
        border-bottom:1px solid #FFFFAC ;
    }

    header ul li a::after {
        content: "→";
    }


    .fleche {
        width: 1rem;
        opacity: 0;
        margin-right: -1rem;
        transform: translateX(-1rem);
    }

    #menu~ul {
        list-style: none;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.5);
        transform: translateX(50);
        transition: all 0.3s ease-in-out;
        left: 0rem;
        position: absolute;
        z-index: 5;
        width: 100%;
        background-color: #FFFFFF;
        padding-bottom: 1rem;
        width: auto;
        border-radius: 30px;
        border-top-left-radius: 0;
    }

    #menu img {
        width: 3vw;
        background-color: #ffffff;
        padding: 1rem;
        box-shadow: 0 4px 0 0 #ccc;
        border-radius: 5px;
        transition: all 0.2s ease-out;
        position: absolute;
        left: 1rem;
        top: 4rem;
        z-index: 5;
    }

    #menu {
        padding: 0;
        border: none;
        background: none;
    }


    #menu:focus img {
        background-color: #fff;
        box-shadow: 0 0 0 0 #2d6a37;
        transform: translateY(4px);
    }

    #menu:focus~ul {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
        width: 95%;
        background-color: #0d3c21;
        box-shadow:
            0px 1.6px 1.2px rgba(0, 0, 0, -0.002),
            0px 3.4px 2.7px rgba(0, 0, 0, -0.004),
            0px 5.8px 4.6px rgba(0, 0, 0, -0.004),
            0px 8.7px 6.9px rgba(0, 0, 0, -0.005),
            0px 12.5px 10px rgba(0, 0, 0, -0.004),
            0px 17.7px 14.2px rgba(0, 0, 0, -0.001),
            0px 25.1px 20.1px rgba(0, 0, 0, 0.003),
            0px 36.5px 29.2px rgba(0, 0, 0, 0.01),
            0px 56.3px 45px rgba(0, 0, 0, 0.023),
            0px 100px 80px rgba(0, 0, 0, 0.07);
        padding-bottom: 2rem;
    }

    header ul li {
        padding-left: 0;
        padding-top: 2rem;
    }

    header h1 {
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 2rem;
        color: #fff;
        position: relative;
        width: 90vw;
        margin: auto;
        border-radius: 5px;
        font-size: 60px;

    }

    div,
    header,
    footer {
        box-sizing: border-box;
    }

    div {
        position: relative;
        margin-top: 2rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
    }


    a {
        text-decoration: none;
        color: #fff;
    }

    .logo img {
        clip-path: circle(50% at 50% 50%);
        width: 4%;
    }

    h2 {
        color: #FFFFFF;
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        width: 90%;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        font-size: 40px;
        margin: auto;
        margin-bottom: -2rem;
        z-index: 2;
        position: relative;
        margin-top: 1rem;

    }

    .feuillePapier {
        position: relative;
        z-index: 1;
        font-family: "Handlee", serif;
        font-weight: 500;
        font-style: normal;
        background-color: #fff1f0;

        font-size: 18px;
        line-height: 2.4rem;
        word-spacing: 0.2rem;
        padding: 6rem;
        width: 80%;
        margin: auto;
        box-shadow: -2px 7px 400px -5px rgb(0, 0, 0, 0.75);
    }

    span.personnalités {
        color: #000000;
        font-weight: 800;
    }

    footer p a {
        margin-right: 2rem;
    }
}

/** moyen écran ordinateur**/
@media screen and (min-width: 900px) and (max-width: 1359px) and (any-hover: hover){
    
    #acceuil{
        width: 1.5rem;
        transform: translateY(0.39rem);
        margin-right: 0.3rem;
        transition: all 0.3s ease-in-out;
        opacity: 1;
    }
    header ul li:hover #acceuil {
        opacity: 0.6;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(../image/pattern.png);
        width: 100%;
        overflow-x: hidden;
    }

    #menu {
        display: none;
    }

    footer {
        margin-top: 3rem;
        width: 100%;
        background-color: #0d3c21;
        padding: 1rem;
        color: #FFFFFF;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
        font-family: "Roboto", serif;
        font-weight: 400;
        height: auto;
        font-style: normal;

    }

    header {
        background-color: #0d3c21;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    }

    header ul li a {
        margin-right: 0.2rem;
        font-family: "Mystery Quest", serif;
        font-weight: 400;
        font-style: normal;
        background-color: #E8ECD7;
        color: #1F4529;
        box-shadow: 0 4px 0 0 #c2ca9f;
        font-size: 20px;
        border-radius: 10px;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-image: url(../image/brushed-alum-darkAfter.png);
        background-repeat: repeat;
        background-size: auto;
        transition: all 0.2s ease-in-out;
    }

    .fleche {
        width: 1rem;
        opacity: 0;
        margin-right: -1rem;
        transform: translateX(-1rem);
        transition: all 0.3s ease-in-out;
    }

    header ul li a:hover {
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 4px 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }
    
    header ul li a:active{
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 0 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }

    header ul li:hover .fleche {
        opacity: 1;
        margin-right: 0;
        transform: translateX(0.2rem);
    }

    header ul {
        list-style: none;
    }

    header ul li {
        display: inline-block;
        padding-left: 0;
        padding-top: 1.5rem;
    }

    header h1 {
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 2rem;
        color: #fff;
        position: relative;
        background-color: #7a0012;
        width: 22vw;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 1rem;
        margin-left: 1rem;
        clip-path: polygon(59% 14%, 100% 10%, 91% 47%, 100% 100%, 54% 90%, 0 100%, 3% 50%, 2% 2%);
        background-image: url("../image/45-degree-fabric-light.png");
        background-repeat: repeat;
        background-size: auto;
    }

    div {
        position: relative;
        background-color: #1F4529;
        padding: 2rem;
        margin-top: 2rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        


        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    

        /**background-image: url(../image/leather.png);
        background-repeat: repeat;
        background-size: auto;**/
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    h2 {
        
        margin: auto;
        color: #FFFFFF;
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        width: 50%;
        padding: 1rem;
        border-radius: 5px;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

        border-radius: 10px;
        text-align: center;
        box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.032),
  0px 12.5px 10px rgba(0, 0, 0, 0.04),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.048),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.058),
  0px 100px 80px rgba(0, 0, 0, 0.08)
;
    }

    .feuillePapier {
        z-index: 1;
        font-family: "Handlee", serif;
        font-weight: 500;
        font-style: normal;
        background-color: #fff1f0;
        padding: 1rem;
        background-image: url("../image/papierB.png");
        background-repeat: repeat;
        background-size: auto;
        font-size: 18px;
        line-height: 2.2rem;
        word-spacing: 0.2rem;
        padding: 6rem;
        margin-left: 4.2rem;
        margin-right: 4.2rem;
        margin-top: 2rem;
        box-shadow: -2px 7px 400px -5px rgb(0, 0, 0, 0.75);
    }

    .feuillePapier::first-letter{
        font-size: 60px;
    }
    span.personnalités {
        color: #000000;
        font-weight: 800;
    }

    footer p a {
        margin-right: 2rem;
    }
}


/** écran vertical ordinateur**/
@media screen and (max-width: 899px) and (any-hover: hover){
    
    #acceuil{
        width: 1.5rem;
        transform: translateY(0.39rem);
        margin-right: 0.3rem;
        transition: all 0.3s ease-in-out;
        opacity: 1;
    }
    header ul li:hover #acceuil {
        opacity: 0.6;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(../image/pattern.png);
        width: 100%;
        overflow-x: hidden;
    }

    #menu {
        display: none;
    }

    footer {
        margin-top: 3rem;
        width: 100%;
        background-color: #0d3c21;
        padding: 1rem;
        color: #FFFFFF;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
        font-family: "Roboto", serif;
        font-weight: 400;
        height: auto;
        font-style: normal;

    }

    header {
        background-color: #0d3c21;
        display: inline-block;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    }

    header ul li a {
        margin-right: 0.2rem;
        font-family: "Mystery Quest", serif;
        font-weight: 400;
        font-style: normal;
        background-color: #E8ECD7;
        color: #1F4529;
        box-shadow: 0 4px 0 0 #c2ca9f;
        font-size: 20px;
        border-radius: 10px;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-image: url(../image/brushed-alum-darkAfter.png);
        background-repeat: repeat;
        background-size: auto;
        transition: all 0.2s ease-in-out;
    }

    .fleche {
        width: 1rem;
        opacity: 0;
        margin-right: -1rem;
        transform: translateX(-1rem);
        transition: all 0.3s ease-in-out;
    }

    header ul li a:hover {
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 4px 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }
    
    header ul li a:active{
        color: #E8ECD7;
        background-color: #D64933;
        box-shadow: 0 0 0 0 #a24132;
        background-image: url(../image/brushed-alum.png);
        background-repeat: repeat;
        background-size: auto;
        text-decoration: underline;
    }

    header ul li:hover .fleche {
        opacity: 1;
        margin-right: 0;
        transform: translateX(0.2rem);
    }

    header ul {
        list-style: none;
    }

    header ul li {
        display: inline-block;
        padding-left: 0;
        padding-top: 1.5rem;
    }

    header h1 {
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 2rem;
        color: #fff;
        position: relative;
        background-color: #7a0012;
        width: 60vw;
        margin: auto;
        border-radius: 5px;
        margin-top: 1rem;

        clip-path: polygon(59% 14%, 100% 10%, 91% 47%, 100% 100%, 54% 90%, 0 100%, 3% 50%, 2% 2%);
        background-image: url("../image/45-degree-fabric-light.png");
        background-repeat: repeat;
        background-size: auto;
    }

    div {
        position: relative;
        background-color: #1F4529;
        margin-top: 2rem;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
        border-radius: 5px;
        


        box-shadow: 6px 10px 91px -36px rgb(0, 0, 0, 0.75) inset;
    

        /**background-image: url(../image/leather.png);
        background-repeat: repeat;
        background-size: auto;**/
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    h2 {
        
        margin: auto;
        color: #FFFFFF;
        font-family: "Mountains of Christmas", serif;
        font-weight: 700;
        font-style: normal;
        width: 70%;
        padding: 1rem;
        border-radius: 5px;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

        border-radius: 10px;
        text-align: center;
        box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.032),
  0px 12.5px 10px rgba(0, 0, 0, 0.04),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.048),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.058),
  0px 100px 80px rgba(0, 0, 0, 0.08)
;
    }

    .feuillePapier {
        z-index: 1;
        font-family: "Handlee", serif;
        font-weight: 500;
        font-style: normal;
        background-color: #fff1f0;
        padding: 1rem;
        background-image: url("../image/papierB.png");
        background-repeat: repeat;
        background-size: auto;
        font-size: 18px;
        line-height: 2.2rem;
        word-spacing: 0.2rem;
        padding: 6rem;
        margin-left: 2.2rem;
        margin-right: 2.2rem;
        margin-top: 2rem;
        box-shadow: -2px 7px 400px -5px rgb(0, 0, 0, 0.75);
    }

    .feuillePapier::first-letter{
        font-size: 60px;
    }
    span.personnalités {
        color: #000000;
        font-weight: 800;
    }

    footer p a {
        margin-right: 2rem;
    }
}
